@import url(texto.css);

body{
    background-color: rgb(235, 212, 182);
}

header h6,
header h2{
    padding-left: 40px;
    margin-bottom: 15px;
}

header a{
    font-weight: lighter;
}

header a:hover{
    text-decoration: underline;
}

header h6{
    background-color: rgb(224, 197, 161);
    padding-top: 15px;
    padding-bottom: 15px;
}

#linha{
    background-color: black;
    margin-left: 40px;
    margin-right: 40px;
}

a{
    color: #000;
    text-decoration: none;
}

.artigos{
    display: block;
    align-items: center;
}

.artigo{
    background-color: #ffffffc0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.363);
    border-width: 2px;
    border-radius: 25px;
    box-shadow: 4px 4px rgb(179, 169, 169);
    width: 83%;
    display: flex;
}

#artigo-img{
    max-width: 80%;
    padding-top: 60px;
    padding-left: 50px;
}

#cruz{
    max-width: 60%;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 100px;
}

.content{
    padding: 40px;
}

.content h3{
    padding-left: 10px;
}

.content p{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
}

.content a:hover{
    color: rgb(148, 148, 44);
}

#access{
    font-size: 15px;
    padding-left: 10px;
}

.artigos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}