@import url(web-tabs.css);
@import url(health.css);
@import url(footer.css);

*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}

body{
    background-color: antiquewhite;
    min-height: 100vh;
}

.up{
    width: 100%;
    height: 70vh;
}

#c1{
    background-image: url('../img/marco0-1.png');
}

.btn-login{
    margin-left: 93%;
    margin-top: 15px;
    border: none;
    background-color: rgba(168, 128, 76, 0.753);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0 px 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: .3s ease;
}

.btn-login:hover{
    background-color: rgba(136, 102, 57, 0.925);
}

#title, 
#sub-title{
    text-align: center;
    padding-right: 50%;
    color: rgb(99, 69, 31);
    font-size: 30px;
}

#title{
    padding-top: 130px;
    font-size: 60px;
}

#legenda{
    color: #fff;
    text-align: right;
    font-size: .8rem;
    padding-top: 135px;
    padding-right: 70px;
}

.pre-main{
    background-color: #fff;
    height: 70px;
}

.pre-main #cabecalho{
    padding-left: 40px;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(105, 63, 8);
} 

#indice{
    padding-top: 25px;
    display: flex;
    list-style: none;
    gap: 50px;
}

#indice li a{
    text-decoration: none;
    color: #111;
}

#indice li a:hover{
    color: rgb(105, 63, 8);
}

section{
    padding: 28px 8%;
}