.section-subtitle{
    margin-top: 4%;
}

#cards_cm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cards{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

#cards img{
    width: 100%;
}

#cards p{
    font-size: 10px;
    background-color: #97919180;
    padding: 2px;
    position: relative;
    bottom: 39px;
}

#card1,
#card2,
#card4{
    height: 170px;
}

#card3{
    height: 250px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 15px;
    width: 25%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 1);
}

.card_title a{
    text-align: center;
    text-decoration: none;
    color: black;
}

.card_title a:hover{
    color: rgb(105, 63, 8);
}

.card_description{
    color: #434343;
    text-align: center;
} 