#health{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 30px;
    margin-left: 15%;
    background-color: rgba(182, 151, 111, 0.678);
    width: 60%;
    border-radius: 50px;
}

#grafico{
    width: 50%;
    border-radius: 10px;
}

#health-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
}

#health-text p, a{
    font-size: 20px;
    text-align: justify;
}

#health-text a{
    text-decoration: none;
    color: black;
}

#health-text a:hover{
    color: rgb(65, 14, 14);
    cursor: pointer;
}
