*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(146, 107, 56);
}

.container{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.login-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252012d7;
    padding: 1rem;
}

.login-image img{
    width: 33rem;
}

.forms-login{
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(167, 131, 85, 0.678);
    padding: 3rem;
}

.login-header{
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
} 

.cadastro-button{
    display: flex;
    align-items: center;
}

.cadastro-button button{
    border: none;
    background-color: burlywood;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.cadastro-button button:hover{
    background-color: rgb(230, 171, 94);
}

.cadastro-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #000000;
}

.login-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: burlywood;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group{
    align-items: center;
    margin: 20px auto;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-group .input-box input::placeholder{
    color: #6b5c5c;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1px solid black;
}

.input-box label{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000;
}

.input-box input::placeholder{
    color: #000000;
}

.login-button button{
    width: 100%;
    margin-top: 1.5rem;
    border: none;
    background-color: burlywood;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover{
    background-color: rgb(230, 171, 94);
}

.login-button button a{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #000000;
}

.senha-nova{
    margin-top: 2rem;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.senha-nova a{
    text-decoration: none;
    color: black;
}

.senha-nova a:hover{
    text-decoration: underline;
}

/*as media screen abaixo são para tamanhos de tela diferentes*/
@media screen and (max-width: 1330px) {
    .login-image{
        display: none;
    }
    .container{
        width: 50%;
        height: 90%;
    }
    .forms-login{
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container{
        width: 90%;
        height: auto;
    }
    .input-group{
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 10rem;
    }
} 